@charset "UTF-8";

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header ul{
	width: 100vw;
	display: flex;
	background-color: black;
	padding: .5em 0;
	font-size: 24px;
}

header li{
	list-style: none;
}

header li a{
	color: white;
	padding: .5em 1em;
	text-decoration: none;
}

header li a:hover:not(.active) {
	background-color: white;
	color: black;
}

header li a.active{
	background-color: green;
}